@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
body {
  font-family: 'Noto Serif TC', sans-serif;
  color: #4F6547;
}

@media screen and (max-width: 1199px) {
  body {
    padding-bottom: 60px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

main {
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.slogan {
  padding: 190px 0 295px;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.slogan_write {
  width: 40%;
  margin: 0 auto 60px;
  display: block;
}

.slogan h2 {
  color: #858787;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  line-height: 1.6;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.slogan h2 > span {
  display: block;
}

.slogan h2 > span:nth-child(2) {
  margin-left: 300px;
}

.slogan_straw {
  position: absolute;
  width: 28%;
  bottom: 0;
  left: 0;
}

.slogan_book {
  position: absolute;
  width: 34%;
  right: 0;
  bottom: -5%;
}

@media screen and (max-width: 991px) {
  .slogan h2 {
    font-size: 36px;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  .slogan h2 > span:nth-child(2) {
    margin-left: 220px;
  }
}

@media screen and (max-width: 767px) {
  .slogan {
    padding-top: 68vw;
    padding-bottom: 60vw;
  }
  .slogan h2 {
    font-size: 20px;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  .slogan h2 > span:nth-child(2) {
    margin-left: 100px;
  }
  .slogan_write {
    width: 86%;
    margin-bottom: 20px;
  }
  .slogan_straw {
    width: 55%;
    top: 1%;
    left: 0;
  }
  .slogan_book {
    width: 69%;
  }
}

@media screen and (max-width: 350px) {
  .slogan h2 {
    font-size: 18px;
  }
}

.scenary {
  position: relative;
}

.scenary_text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 7%;
}

.scenary_text h2 {
  color: #EEE84B;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 16px;
}

.scenary_text h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0;
}

.scenary_pic-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: auto;
}

.scenary_finger {
  width: 75px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 8%;
}

@media screen and (max-width: 991px) {
  .scenary_pic {
    min-width: 1000px;
  }
}

@media screen and (max-width: 767px) {
  .scenary_text {
    top: 10%;
  }
  .scenary_text h2 {
    font-size: 24px;
  }
  .scenary_text h3 {
    font-size: 16px;
  }
}

.intro {
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 0;
}

.intro_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.intro_item-2 {
  padding-top: 150px;
  background-image: url(../img/cloud.svg);
  background-size: 68%;
  background-position: 8% 10%;
  background-repeat: no-repeat;
}

.intro_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: calc(45% + 20px);
  z-index: 10;
  bottom: 43%;
}

.intro_arrow svg {
  width: 20px;
  height: 20px;
}

.intro_arrow_line {
  width: 2px;
  height: 25px;
  background-color: #40ADA2;
  margin: 0 23px;
}

.intro_swiper {
  width: 45%;
}

.intro_swiper_item {
  position: relative;
  width: 100%;
  padding-bottom: 73%;
}

.intro_swiper_item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.intro_swiper_item > p {
  position: absolute;
  color: #fff;
  margin: 0;
  bottom: 10px;
  left: 20px;
  font-family: "noto sans TC";
}

.intro_swiper_item > p.gray {
  color: #B7B7B7;
}

.intro_swiper-2 .intro_swiper_item p {
  left: inherit;
  right: 20px;
}

.intro_swiper-small_item {
  cursor: pointer;
}

.intro_swiper-small-wrap {
  width: 55%;
}

.intro_swiper-small-wrap.wrap-1 {
  padding-left: 20px;
}

.intro_swiper-small-wrap.wrap-2 {
  padding-right: 20px;
}

.intro_swiper-small-wrap.wrap-2 .intro_swiper-small {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro_text {
  position: absolute;
}

.intro_text h2 {
  color: #158379;
  position: relative;
  font-size: 48px;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

.intro_text h2::after {
  position: absolute;
  content: "";
  width: 125px;
  height: 1px;
  background-color: #6D6D6D;
  top: 50%;
  left: calc(100% + 35px);
}

.intro_text h3 {
  font-size: 36px;
  color: #6B75B4;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.6;
}

.intro_text-1 {
  top: 5%;
  left: 50%;
}

.intro_text-2 {
  top: calc(5% + 150px);
  left: 8%;
}

.intro_hat {
  width: 7.3%;
  position: absolute;
  top: -8%;
  right: 45%;
}

.intro_pencil {
  width: 24%;
  position: absolute;
  top: -70px;
  right: 0;
}

.intro_book {
  width: 12%;
  position: absolute;
  top: 30%;
  right: 3%;
  z-index: 10;
}

.intro_airplane {
  position: absolute;
  width: 17%;
  top: 7%;
  left: 35%;
}

.intro_yellowbird {
  position: absolute;
  width: 1.8%;
  top: 7%;
  left: 5%;
}

.intro_greenbird {
  position: absolute;
  width: 3.8%;
  top: 16%;
  left: 15%;
}

@media screen and (max-width: 1250px) {
  .intro_text h2 {
    font-size: 32px;
  }
  .intro_text h2::after {
    left: calc(100% + 15px);
    width: 85px;
  }
  .intro_text h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 991px) {
  .intro {
    padding: 0;
  }
  .intro_swiper {
    width: 100%;
  }
  .intro_swiper_item p {
    font-size: 12px;
  }
  .intro_arrow {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
    bottom: 36.5vw;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    left: 0;
  }
  .intro_arrow svg {
    width: 24px;
    height: 24px;
  }
  .intro_arrow svg path {
    stroke: #fff;
  }
  .intro_text {
    position: static;
    width: 100%;
    padding-left: 40px;
    margin-bottom: 30px;
  }
  .intro_item {
    display: block;
    padding-top: 32vw;
  }
  .intro_item-2 {
    background-image: url(../img/cloud2.svg);
    background-size: 75%;
    background-position: 70% 5vw;
  }
  .intro_hat {
    width: 29%;
    top: 7vw;
    left: 4vw;
  }
  .intro_pencil {
    width: 55%;
    top: 0;
  }
  .intro_book {
    width: 27.5%;
    top: inherit;
    bottom: 65vw;
  }
  .intro_airplane {
    width: 36%;
    top: 8.6vw;
    left: 3%;
  }
  .intro_yellowbird {
    width: 6.1%;
    top: 15%;
    left: 61%;
  }
  .intro_greenbird {
    width: 12.6%;
    top: inherit;
    bottom: 75vw;
    left: inherit;
    right: 10vw;
  }
}

@media screen and (max-width: 575px) {
  .intro_text h2 {
    font-size: 20px;
  }
  .intro_text h2::after {
    width: 50px;
  }
  .intro_text h3 {
    font-size: 16px;
  }
}

.appearance {
  position: relative;
}

.appearance_text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 7%;
}

.appearance_text h2 {
  color: #EEE84B;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 16px;
}

.appearance_text h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0;
}

.appearance_name {
  position: absolute;
  color: #fff;
  font-size: 12px;
  margin: 0;
  bottom: 20px;
  left: 30px;
  font-family: "noto sans TC";
}

@media screen and (max-width: 767px) {
  .appearance_text {
    top: 10%;
  }
  .appearance_text h2 {
    font-size: 24px;
  }
  .appearance_text h3 {
    font-size: 16px;
  }
  .appearance_name {
    left: 12px;
    bottom: 7px;
  }
}

.commonspace {
  padding: 70px 0 90px;
  background-image: url(../img/bg3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.commonspace_text {
  width: 47%;
}

.commonspace_text_inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-top: 80px;
}

.commonspace_text_inner h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #069081;
}

.commonspace_text_inner h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #6557B2;
}

.commonspace_text_inner h4 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  color: #6D6D6D;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.commonspace_text_inner h4::after {
  position: absolute;
  content: "";
  width: 140px;
  height: 1px;
  background-color: #6D6D6D;
  top: 50%;
  left: calc(100% + 23px);
}

.commonspace_swiper-wrap {
  width: 53%;
}

.commonspace_swiper_item {
  width: 100%;
  padding-bottom: 63%;
  position: relative;
}

.commonspace_swiper_item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.commonspace_swiper_item p {
  position: absolute;
  color: #fff;
  margin: 0;
  bottom: 15px;
  left: 25px;
  font-family: "noto sans TC";
}

.commonspace_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: calc(53% + 35px);
  z-index: 10;
  bottom: 90px;
}

.commonspace_arrow svg {
  width: 20px;
  height: 20px;
}

.commonspace_arrow_line {
  width: 2px;
  height: 25px;
  background-color: #40ADA2;
  margin: 0 23px;
}

.commonspace_bigbook {
  position: absolute;
  width: 22%;
  left: 5%;
  bottom: 1%;
}

.commonspace_smallbook {
  position: absolute;
  width: 9.5%;
  left: 2%;
  top: 6%;
}

@media screen and (max-width: 1200px) {
  .commonspace_text_inner h2 {
    font-size: 40px;
  }
  .commonspace_text_inner h3 {
    font-size: 32px;
  }
  .commonspace_text_inner h4 {
    font-size: 22px;
  }
}

@media screen and (max-width: 991px) {
  .commonspace {
    padding-top: 21.5vw;
    padding-bottom: 0;
  }
  .commonspace_text {
    width: 100%;
    padding: 0 25px 16px 40px;
  }
  .commonspace_text_inner {
    margin: 0 0 25px;
    padding: 0;
  }
  .commonspace_swiper-wrap {
    width: 100%;
  }
  .commonspace_swiper_item p {
    font-size: 12px;
    bottom: 5px;
    left: 8px;
  }
  .commonspace_arrow {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
    bottom: 31.5vw;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    left: 0;
  }
  .commonspace_arrow svg {
    width: 24px;
    height: 24px;
  }
  .commonspace_arrow svg path {
    stroke: #fff;
  }
  .commonspace_bigbook {
    width: 63%;
    position: static;
    display: block;
    margin-left: auto;
  }
  .commonspace_smallbook {
    width: 30%;
    left: inherit;
    right: 5%;
    top: 5%;
  }
}

@media screen and (max-width: 575px) {
  .commonspace_text h2 {
    font-size: 24px;
  }
  .commonspace_text h3 {
    font-size: 20px;
  }
  .commonspace_text h4 {
    font-size: 16px;
  }
  .commonspace_text h4::after {
    left: calc(100% + 15px);
    width: 70px;
  }
}

.layout {
  padding: 40px 0 65px;
  background-image: url(../img/bg4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.layout_text {
  width: 42%;
  padding-left: 100px;
  padding-bottom: 50px;
}

.layout_text h2 {
  font-size: 48px;
  font-weight: 600;
  color: #6557B2;
  margin-bottom: 15px;
}

.layout_text h3 {
  font-size: 36px;
  font-weight: 600;
  color: #069081;
  margin: 0;
  line-height: 1.6;
}

.layout_pic {
  width: 58%;
  position: relative;
}

.layout_pic_map {
  width: 100%;
  mix-blend-mode: multiply;
}

.layout_pic_num {
  position: absolute;
  width: 6%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.layout_pic_num.c1 {
  top: 16%;
  right: 46%;
}

.layout_pic_num.b5 {
  top: 29.3%;
  left: 13%;
}

.layout_pic_num.b3 {
  top: 34%;
  left: 23.5%;
}

.layout_pic_num.a7 {
  top: 60.5%;
  left: 25%;
}

.layout_pic_num:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.layout_write {
  width: 425px;
  margin-bottom: 25px;
}

.layout_book {
  position: absolute;
  width: 21%;
  top: 3%;
  left: 0;
}

.layout-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  display: none;
}

.layout-popup_bg {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.layout-popup_pic {
  position: absolute;
  height: 80vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.layout-popup_pic.active {
  display: block;
}

@media screen and (max-width: 991px) {
  .layout > .container {
    padding: 0;
    max-width: inherit;
  }
  .layout_text {
    width: 100%;
    padding: 0 40px;
  }
  .layout_book {
    position: static;
    width: 25%;
    margin-bottom: 20px;
  }
  .layout_pic {
    width: 90%;
    margin: 0 auto;
  }
  .layout_pic_num {
    width: 7.5%;
  }
  .layout_pic_num.c1 {
    top: 22%;
    right: 34%;
  }
  .layout_pic_num.b5 {
    top: 34.5%;
    left: 15%;
  }
  .layout_pic_num.b3 {
    top: 39%;
    left: 28%;
  }
  .layout_pic_num.a7 {
    top: 63.5%;
    left: 31%;
  }
  .layout_pic_num:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .layout-popup_pic {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .layout_write {
    width: 245px;
    margin-bottom: 15px;
  }
  .layout_text h2 {
    font-size: 20px;
  }
  .layout_text h3 {
    font-size: 16px;
  }
}

.brand {
  background-image: url(../img/bg6.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 90px 0 100px;
  position: relative;
}

.brand_text {
  width: 50%;
  padding-left: 50px;
}

.brand_text h2 {
  font-size: 48px;
  font-weight: 600;
  color: #158379;
  margin-bottom: 15px;
}

.brand_text h3 {
  font-size: 32px;
  font-weight: 600;
  color: #4F6547;
  margin-bottom: 55px;
}

.brand_write {
  width: 590px;
  -webkit-transform: translateX(55px);
          transform: translateX(55px);
}

.brand_pic {
  width: 50%;
}

.brand_pic > img {
  width: 100%;
}

.brand_tree {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 1199px) {
  .brand > .container {
    max-width: inherit;
  }
  .brand_text h2 {
    font-size: 40px;
  }
  .brand_text h3 {
    font-size: 24px;
  }
  .brand_write {
    width: 400px;
  }
}

@media screen and (max-width: 991px) {
  .brand {
    background-image: url(../img/bg6-m.png);
    background-position: center top;
    padding-bottom: 22vw;
  }
  .brand_text {
    width: 100%;
  }
  .brand_pic {
    width: 100%;
  }
  .brand_write {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 575px) {
  .brand {
    padding-top: 70px;
  }
  .brand > .container {
    padding: 0;
  }
  .brand_text {
    padding-left: 40px;
    padding-right: 20px;
  }
  .brand_text h2 {
    font-size: 20px;
  }
  .brand_text h3 {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .brand_write {
    width: 265px;
  }
}

.th {
  background-image: url(../img/bg7.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tree {
  padding-top: 80px;
  background-image: url(../img/big-tree.png);
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.tree_text {
  width: 45%;
}

.tree_text_inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.tree_text_inner h2 {
  font-size: 48px;
  font-weight: 600;
  color: #6557B2;
  margin-bottom: 35px;
}

.tree_text_inner h2 .big {
  font-size: 100px;
  font-weight: 700;
}

.tree_text_inner h3 {
  font-size: 36px;
  font-weight: 600;
  color: #158379;
  margin-bottom: 35px;
}

.tree_text_inner h4 {
  font-size: 28px;
  font-weight: 600;
  color: #004E42;
  margin-bottom: 45px;
}

.tree_pic {
  width: 500px;
}

@media screen and (max-width: 1399px) {
  .tree > .container {
    max-width: inherit;
  }
}

@media screen and (max-width: 1199px) {
  .tree_text_inner h2 {
    font-size: 40px;
  }
  .tree_text_inner h2 .big {
    font-size: 80px;
  }
  .tree_text_inner h3 {
    font-size: 28px;
  }
  .tree_text_inner h4 {
    font-size: 20px;
  }
  .tree_pic {
    width: 350px;
  }
}

@media screen and (max-width: 991px) {
  .tree {
    background-image: none;
  }
  .tree_text {
    width: 100%;
  }
  .tree_pic {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) {
  .tree_text_inner h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .tree_text_inner h2 .big {
    font-size: 48px;
  }
  .tree_text_inner h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .tree_text_inner h4 {
    font-size: 16px;
  }
}

.history {
  padding: 100px 0 110px;
}

.history_text {
  margin-bottom: 50px;
}

.history_text_title h3 {
  font-size: 28px;
  font-weight: 600;
  color: #087E72;
  margin-bottom: 15px;
}

.history_text_title h2 {
  font-size: 36px;
  font-weight: 600;
  color: #6557B2;
  margin-bottom: 15px;
}

.history_text_title h4 {
  font-size: 28px;
  font-weight: 600;
  color: #004E42;
  margin-bottom: 0;
}

.history_text_en {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  position: relative;
  text-align: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.history_text_en::before {
  position: absolute;
  content: "";
  width: 223px;
  height: 1px;
  background-color: #007BAB;
  bottom: 20px;
  right: calc(100% + 15px);
}

.history_line {
  position: relative;
  z-index: 0;
  overflow-x: auto;
  background-image: url(../img/logo.svg);
  background-size: 38%;
  background-position: center;
  background-repeat: no-repeat;
}

.history_line_inner {
  position: relative;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history_line_inner::after {
  position: absolute;
  content: "";
  background-color: #EEE84B;
  width: 100%;
  height: 3px;
  left: 0;
  top: 82px;
  z-index: -1;
}

.history_line_year {
  font-size: 24px;
  font-weight: 700;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  color: #A3A3A3;
}

.history_line_year.purple {
  color: #6557B2;
}

.history_line_dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #40ADA2;
  margin: 20px 0;
}

.history_line_content {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.08em;
}

.history_line_content.highlight {
  font-size: 32px;
  color: #087E72;
}

.history_line_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 12px;
}

.history_pic {
  width: 75%;
  margin: 0 auto;
  position: relative;
}

.history_pic_bg {
  width: 100%;
}

.history_pic_finger {
  width: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1300px) {
  .history_line_inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .history_line_item {
    position: relative;
  }
  .history_line_item::after {
    position: absolute;
    content: "";
    background-color: #EEE84B;
    width: calc(100% + 24px);
    height: 3px;
    left: 0;
    top: 82px;
    z-index: -1;
  }
}

@media screen and (max-width: 991px) {
  .history {
    padding-bottom: 30px;
  }
  .history_text_title {
    margin-bottom: 25px;
  }
  .history_text_en {
    margin-left: auto;
  }
  .history_line {
    background-image: none;
  }
}

@media screen and (max-width: 575px) {
  .history_text_title h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .history_text_title h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .history_text_title h4 {
    font-size: 20px;
  }
  .history_text_en {
    font-size: 16px;
  }
  .history_text_en::before {
    width: 120px;
  }
}

.contact {
  padding: 175px 0 125px;
  background-image: url(../img/bg8.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contact_pic {
  width: 40%;
}

.contact_pic > img {
  width: 100%;
}

.contact_form {
  width: 60%;
}

.contact_form h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #158379;
}

.contact_form .input {
  background-color: #F9F6BE;
  margin-bottom: 25px;
  padding: 20px 25px;
  display: block;
  border: 0;
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  font-size: 20px;
}

.contact_form .input::-webkit-input-placeholder {
  color: #158379;
}

.contact_form .input:-ms-input-placeholder {
  color: #158379;
}

.contact_form .input::-ms-input-placeholder {
  color: #158379;
}

.contact_form .input::placeholder {
  color: #158379;
}

.contact_form button {
  margin-top: 65px;
  background-color: #158379;
  color: #fff;
  display: block;
  margin: 45px auto 0;
  border: 0;
  font-size: 30px;
  width: 100%;
  max-width: 550px;
  font-size: 28px;
  height: 72px;
}

.contact_agree label {
  color: #5C6362;
}

.contact_agree label a {
  color: #5C6362;
}

.contact_tree-1 {
  position: absolute;
  width: 8.8vw;
  top: 8%;
  right: 43%;
}

.contact_tree-2 {
  position: absolute;
  width: 4.4vw;
  top: 15%;
  right: 17%;
}

@media screen and (max-width: 991px) {
  .contact_pic {
    width: 100%;
  }
  .contact_form {
    width: 100%;
    position: relative;
    padding-top: 40px;
  }
  .contact_form h2 {
    font-size: 24px;
  }
  .contact_form .input {
    font-size: 16px;
    padding: 10px 13px;
  }
  .contact_form button {
    font-size: 14px;
    height: 36px;
    margin-top: 35px;
  }
  .contact_tree-1 {
    width: 24vw;
    top: 0;
    right: inherit;
    left: 0;
  }
  .contact_tree-2 {
    width: 15vw;
    top: 5%;
    right: 5%;
  }
}

.sideBtn {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #EEE84B;
  border-radius: 20px 0 0 20px;
  z-index: 20;
}

.sideBtn li:first-child a {
  border-radius: 20px 0 0 0;
}

.sideBtn li:last-child a {
  border-radius: 0 0 0 20px;
}

.sideBtn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 65px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.sideBtn a img {
  width: 30px;
  display: block;
  margin: 0 auto;
}

.sideBtn a span {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 3px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sideBtn a:hover {
  opacity: 0.6;
}

.sideBtn a:hover span {
  opacity: 1;
}

@media screen and (max-width: 1199px) {
  .sideBtn {
    width: 100%;
    top: inherit;
    -webkit-transform: none;
            transform: none;
    bottom: 0;
    right: 0;
    border-radius: 0;
  }
  .sideBtn li {
    width: 20%;
  }
  .sideBtn a {
    width: 100%;
    height: 60px;
    border-radius: 0 !important;
  }
  .sideBtn a img {
    width: 25px;
    margin-bottom: 1px;
  }
  .sideBtn a span {
    position: static;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */